# Titanic Random Forest

In [130]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [131]:
training_filename = 'train.csv'
test_filename = 'test.csv'

In [132]:
df_raw_train = pd.read_csv('train.csv')
df_raw_test = pd.read_csv('test.csv')

In [133]:
df_raw_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [141]:
df_raw_train = df_raw_train.fillna(np.nan)

In [135]:
def get_unique_titles(names):
    unique_titles = []
    for name in names:
        title = get_title_from_name(name)
        if title not in unique_titles:
            unique_titles.append(title)
    return unique_titles

def get_title_from_name(name):
    return name.split(',')[1].split('.')[0].strip()

## Convert Names to Titles

In [136]:
all_names = df_raw_train.Name.append(df_raw_test.Name)
titles = get_unique_titles(all_names)

title_mapping = {
    'Mr' : 2,
    'Mrs' : 1,
    'Miss' : 1,
    'Master' : 0,
    'Don' : 3,
    'Rev' : 3,
    'Dr' : 3,
    'Mme' : 1,
    'Ms' : 1,
    'Major' : 3,
    'Lady' : 3,
    'Sir' : 3,
    'Mlle' : 3,
    'Col' : 3,
    'Capt' : 3,
    'the Countess' : 3,
    'Jonkheer' : 3,
    'Dona' : 3
}

df_raw_train['Title'] = df_raw_train.Name.apply(get_title_from_name)
df_raw_train.Title = df_raw_train.Title.apply(lambda x: title_mapping[x])

In [137]:
df_raw_train = df_raw_train.drop(["Name"], axis=1)

In [142]:
sns.heatmap(df_raw_train[["Su", cmap='coldwarm')

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''